In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import csv
import xml.etree.ElementTree as ET

In [11]:
data = '''
<products>
  <product>
    <id>1</id>
    <name>Laptop</name>
    <category>Electronics</category>
    <price>800</price>
  </product>
  <product>
    <id>2</id>
    <name>Camera</name>
    <category>Electronics</category>
    <price>400</price>
  </product>
  <product>
    <id>3</id>
    <name>Chair</name>
    <category>Furniture</category>
    <price>150</price>
  </product>
  <product>
    <id>4</id>
    <name>Bookshelf</name>
    <category>Furniture</category>
    <price>200</price>
  </product>
  <product>
    <id>5</id>
    <name>Headphones</name>
    <category>Electronics</category>
    <price>50</price>
  </product>
</products>

'''

# Parsing XML Data

In [12]:
root = ET.fromstring(data)

# Creating Empty Lists To Store Products Info

In [13]:
ids = []
names = []
categories = []
prices = []

# Extracting Data From XML Format

In [14]:
for product in root.iter('product'):
    ids.append(product.findtext('id'))
    names.append(product.findtext('name'))
    categories.append(product.findtext('category'))
    prices.append(float(product.findtext('price')))

# Creating DataFrame for Extracted Data

In [15]:
df = pd.DataFrame({
    'ID No': ids,
    'Product Name': names,
    'Category': categories,
    'Price': prices
})
df

  ID No Product Name     Category  Price
0     1       Laptop  Electronics  800.0
1     2       Camera  Electronics  400.0
2     3        Chair    Furniture  150.0
3     4    Bookshelf    Furniture  200.0
4     5   Headphones  Electronics   50.0

# Calculating Average Price For Each Product

In [16]:
average_price = df.groupby('Category')['Price'].mean().reset_index()
average_price

      Category       Price
0  Electronics  416.666667
1    Furniture  175.000000

# Finding Max Price Product

In [17]:
max_price = df[df['Price'] == df['Price'].max()]
max_price

  ID No Product Name     Category  Price
0     1       Laptop  Electronics  800.0

# Exporting Final Results To The CSV Files

In [18]:
average_price.to_csv('Average_Price_Products.csv', index=False)
max_price.to_csv('Maximum_Price_Product.csv', index=False)