# **Task: 3**

# **Defining Scores as 2D array Using Numpy & Making Columns For Subjects And Rows For Students**

In [1]:
import pandas as pd
import numpy as np
scores = np.array([[80, 90, 70], [85, 95, 75], [90, 85, 80], [95, 80, 85], [75, 90, 95]])

columns = ['Math', 'Science', 'History']
rows = ['Mubasher', 'Ali', 'Moon', 'Mudassir', 'Hassan']
df = pd.DataFrame(scores, columns=columns, index=rows)
df

          Math  Science  History
Mubasher    80       90       70
Ali         85       95       75
Moon        90       85       80
Mudassir    95       80       85
Hassan      75       90       95

# **Average Score For Each Subject**

In [2]:
average_scores = df.mean()
average_scores

Math       85.0
Science    88.0
History    81.0
dtype: float64

# **OverAll Average Score**

In [3]:
overall_avg_score = df.values.mean()
overall_avg_score

84.66666666666667

# **Top Student With Highest Average Score**

In [4]:
top_student = df.mean(axis=1).idxmax()
top_student

'Mudassir'

# **Subject With Most Improvement**

In [5]:
most_improved_subject = (df.mean() - overall_avg_score).abs().idxmax()
most_improved_subject

'History'

# **Adding To DataFrame**

In [6]:
df.loc['Average'] = average_scores
df.loc['Overall Average'] = overall_avg_score
df.loc['Top Student'] = df.mean(axis=1).idxmax()
df.loc['Subject with Most Improvement'] = most_improved_subject
df

                                    Math    Science    History
Mubasher                            80.0       90.0       70.0
Ali                                 85.0       95.0       75.0
Moon                                90.0       85.0       80.0
Mudassir                            95.0       80.0       85.0
Hassan                              75.0       90.0       95.0
Average                             85.0       88.0       81.0
Overall Average                84.666667  84.666667  84.666667
Top Student                     Mudassir   Mudassir   Mudassir
Subject with Most Improvement    History    History    History